{deps_dir, ["deps"]}.
{deps, [{alog, ".*", {git, "git://github.com/siberian-fast-food/alogger.git", "master"}}]}.
{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, []}.
